.admin-page {
  background: #ece9e0;
  margin: 0 auto;
  padding: 0 15px 0 0;
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.admin-page button {
  padding: 2px 15px;
  font-size: 10px;
}

.admin-page textarea {
  font-size: 11px;
}

.admin-page .admin-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 15%;
  -ms-flex: 1 1 15%;
  flex: 1 1 15%;
  background: white;
  box-shadow: -1px 0 3px rgba(0, 0, 0, 0.11);
  border: 1px solid rgba(0, 0, 0, 0.11);
}

.admin-page .admin-item.admin-menu {
  background: #ece9e0;
  box-shadow: none;
  border: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

.admin-page .admin-item.admin-menu a {
  display: block;
  padding: 5px 20px;
  color: #9a9a9c;
  font-size: 17px;
}

.admin-page .admin-item.admin-menu a .fa {
  margin-right: 5px;
  width: 20px;
  text-align: center;
}

.admin-page .admin-item.admin-menu a:hover {
  color: #777777;
  text-decoration: none;
}

.admin-page .admin-item.admin-menu li.active a {
  background: #428bca;
  color: white;
}

.admin-page .admin-item .search-form {
  padding: 10px;
  background: #f8f8f8;
  position: relative;
  border-bottom: 1px solid #dddddd;
}

.admin-page .admin-item .search-form .fa {
  position: absolute;
  font-size: 20px;
  color: #eeeeee;
  top: 18px;
  left: 20px;
}

.admin-page .admin-item .search-form input {
  border-radius: 20px;
  padding-left: 35px;
}

.admin-page .admin-item.admin-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.admin-page .admin-item.admin-list .contacts-list {
  border-top: 1px solid #dddddd;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.admin-page .admin-item.admin-list .contacts-list li {
  padding: 5px 50px 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
  position: relative;
  background: #eeeeee;
}

.admin-page .admin-item.admin-list .contacts-list li:hover {
  background: #ece9e0;
}

.admin-page .admin-item.admin-list .contacts-list li.current {
  background: #ffffdd;
}

.admin-page .admin-item.admin-list .contacts-list li.new {
  background: transparent;
}

.admin-page .admin-item.admin-list .contacts-list li.favorite:after {
  content: "\f005";
  font-family: "FontAwesome";
  position: absolute;
  top: 4px;
  right: 30px;
  font-size: 18px;
  color: #ffcc33;
}

.admin-page .admin-item.admin-list .contacts-list li .status-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -5px;
}

.admin-page .admin-item.admin-list .contacts-list li.online .status-icon {
  background: #33bb00;
}

.admin-page .admin-item.admin-list .contacts-list li.away .status-icon {
  background: #ffdd11;
}

.admin-page .admin-item.admin-list .contacts-list li .name {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.admin-page .admin-item.admin-list .pagination {
  margin: 10px auto;
}

.admin-page .admin-item.admin-list .pagination a {
  padding: 3px 7px;
  font-size: 10px;
}

.admin-page .admin-item.central-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 55%;
  -ms-flex: 1 1 55%;
  flex: 1 1 55%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.admin-page .admin-item.central-box .central-main-wrap {
  padding: 10px;
  height: 500px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow-y: auto;
}

.admin-page .admin-item.central-box .msg-list ul li:nth-child(odd) {
  text-align: right;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item {
  width: 80%;
  display: inline-block;
  margin-bottom: 10px;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item .msg-name,
.admin-page .admin-item.central-box .msg-list ul li .msg-item .msg-time {
  padding: 5px 10px;
  color: #9a9a9a;
  font-size: 11px;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item .msg-status {
  display: none;
  color: #ff2200;
  font-size: 16px;
  padding: 0 5px;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item .chat-block {
  background: #eeeeee;
  padding: 10px;
  border-radius: 20px;
  font-size: 13px;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item.sms-sent .msg-status {
  color: #00cc00;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item.sms {
  width: 50%;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item.sms .chat-block {
  border-radius: 0;
  background: transparent;
  border: 1px solid #dddddd;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item.sms .msg-status {
  display: inline-block;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item.sms.sms-viewed .chat-block {
  background: #ffffee;
}

.admin-page .admin-item.central-box .msg-list ul li .msg-item.msg-user .chat-block {
  background: #cceedd;
}

.admin-page .admin-item .msg-form,
.admin-page .admin-item .sms-form {
  background: #f8f8f8;
  padding: 10px;
  border-top: 1px solid #dddddd;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 176px;
  -ms-flex: 0 1 176px;
  flex: 0 1 176px;
}

.admin-page .admin-item .msg-form form,
.admin-page .admin-item .sms-form form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.admin-page .admin-item .msg-form form button,
.admin-page .admin-item .sms-form form button {
  margin-right: 20px;
}

.admin-page .admin-item .msg-form .text-place,
.admin-page .admin-item .sms-form .text-place {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 70%;
  -ms-flex: 0 1 70%;
  flex: 0 1 70%;
}

.admin-page .admin-item .msg-form .text-place textarea,
.admin-page .admin-item .sms-form .text-place textarea {
  height: 155px;
  resize: none;
}

.admin-page .admin-item .msg-form .text-templates,
.admin-page .admin-item .sms-form .text-templates {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
  padding-left: 10px;
}

.admin-page .admin-item .msg-form .text-templates ul,
.admin-page .admin-item .sms-form .text-templates ul {
  height: 124px;
  overflow-y: auto;
}

.admin-page .admin-item .msg-form .text-templates ul li,
.admin-page .admin-item .sms-form .text-templates ul li {
  padding: 4px 10px;
  line-height: 1.5;
  cursor: pointer;
  font-size: 11px;
  border: 1px solid #dddddd;
}

.admin-page .admin-item .msg-form .text-templates ul li + li,
.admin-page .admin-item .sms-form .text-templates ul li + li {
  border-top: 0;
}

.admin-page .admin-item .msg-form .text-templates ul li:hover,
.admin-page .admin-item .sms-form .text-templates ul li:hover {
  color: #777777;
}

.admin-page .admin-item .msg-form .text-templates ul li:nth-child(odd),
.admin-page .admin-item .sms-form .text-templates ul li:nth-child(odd) {
  background: white;
}

.admin-page .admin-item.user-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 20%;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.admin-page .admin-item.user-box .user-details {
  height: 500px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.admin-page .admin-item.user-box .user-details .nav li a {
  border-radius: 15px 15px 0 0;
  border: 1px solid #dddddd;
  font-size: 13px;
  padding: 5px 10px;
  line-height: 1;
  color: #777777;
}

.admin-page .admin-item.user-box .user-details .nav li.active a {
  color: white;
  border: 1px solid #428bca;
}

.admin-page .admin-item.user-box .user-details .table-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.admin-page .admin-item.user-box .user-details .notes-wrap {
  padding: 10px;
}

.admin-page .admin-item.user-box .user-details .notes-form button {
  min-width: 60px;
}

.admin-page .admin-item.user-box .user-details .notes-form button.btn-favorite.active {
  background: #ffffdd;
}

.admin-page .admin-item.user-box .user-details .notes-form button + button {
  margin-left: 10px;
}

.admin-page .admin-item.user-box .sms-form form {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.admin-page .admin-item.user-box .sms-form form .text-place {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  margin-bottom: 10px;
}

.admin-page .admin-item.user-box .sms-form form .text-place textarea {
  height: 70px;
}

.admin-page .admin-item.user-box .sms-form form .text-templates {
  padding: 0 10px 0 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.admin-page .admin-item.user-box .sms-form form .text-templates ul {
  height: 76px;
}

.admin-page .admin-item.user-box .sms-form form .sms-submit {
  padding-top: 55px;
}

.logs-table table {
  margin-bottom: 0;
}

.logs-table table th {
  background: #aaaaaa;
  font-size: 15px;
}

.edit-table {
  width: 49%;
}