@font-face {
  font-family: "icons-custom";
  src: url("../fonts/icons-custom.eot");
  src: url("../fonts/icons-custom.eot?#iefix") format("embedded-opentype"), url("../fonts/icons-custom.woff") format("woff"), url("../fonts/icons-custom.ttf") format("truetype"), url("../fonts/icons-custom.svg#icons-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
}

.icon:hover,
.icon:focus {
  text-decoration: none;
}

[data-icon] {
  font-family: "icons-custom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-custom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "a";
}

.icon-list:before {
  content: "c";
}

.icon-pin:before {
  content: "d";
}

.icon-mail:before {
  content: "e";
}

.icon-user:before {
  content: "f";
}

.icon-info:before {
  content: "b";
}

.icon-export-pdf:before {
  content: "g";
}

.icon-right-open:before {
  content: "i";
}

.icon-menu:before {
  content: "h";
}

.xs {
  font-size: 11px;
}

.sm {
  font-size: 12px;
}

.md {
  font-size: 14px;
}

h2 {
  font-size: 28px;
}

a,
a:hover,
a:focus {
  color: #4f94fa;
  outline: none;
}

a .icon,
a:hover .icon,
a:focus .icon {
  outline: none;
}

.underline {
  text-decoration: underline;
}

a.white,
a.white:hover {
  color: white;
}

input {
  color: #666666;
}

.no-wrap {
  white-space: nowrap;
}

.upper {
  text-transform: uppercase;
}

hr.dashed {
  border-top: 1px dashed #999999;
  margin-top: 5px;
}

@media (max-width: 480px) {
  .tooltip {
    display: none !important;
  }
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: -webkit-calc(100vh - 141px);
  min-height: calc(100vh - 141px);
}

@media (max-width: 600px) {
  .flex {
    min-height: -webkit-calc(100vh - 124px);
    min-height: calc(100vh - 124px);
  }
}

.white-block {
  width: 100%;
  background-color: white;
  box-shadow: 0 6px 4px -4px #dddddd;
  padding: 20px 15px;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .white-block {
    margin-bottom: 20px;
  }
}

.white-block table {
  margin-top: 15px;
}

.white-block table thead {
  background-color: #c1c3c9;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.white-block table thead tr th {
  border-bottom: none;
  text-transform: uppercase;
}

.white-block table thead tr th:first-child {
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  width: 75px;
}

.white-block table thead tr th:last-child {
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-align: right;
}

.white-block table tbody tr td a {
  display: block;
  overflow-y: hidden;
  margin-top: 0;
  max-height: 20px;
}

.white-block table tbody tr td:last-child {
  text-align: right;
}

.white-block table tbody tr:first-child td {
  border-top: none;
}

.white-block table tbody tr:last-child td {
  border-bottom: 1px solid #dddddd;
}

.box {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 320px;
  -ms-flex: 1 1 320px;
  flex: 1 1 320px;
}

@media (max-width: 1023px) {
  .box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .box + .box {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 45%;
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
  }

  .box + .box {
    margin-left: 30px;
  }

  .box:nth-child(2n+1) {
    margin-left: 0;
  }
}

.badge-custom {
  background-color: #f22613;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-transform: none;
  padding: 3px 7px;
  vertical-align: top;
}

.b-crumb {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 75px;
  padding-left: 0;
}

.b-crumb a {
  color: #9a9a9c;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .b-crumb {
    padding-left: 60px;
  }
}

@media (max-width: 480px) {
  .b-crumb {
    margin-top: 40px;
    margin-right: 0;
    padding-left: 0;
  }
}

.b-crumb li:after {
  content: "/\00a0";
  color: #999999;
  margin-left: 7px;
}

.b-crumb li.active {
  width: 182px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 2px;
}

.b-crumb li.active:after {
  content: "";
}

.b-crumb li + li:before {
  display: none;
}

.heading {
  position: relative;
}

.heading h3 {
  margin: 0;
  font-weight: bold;
}

.heading h3 .badge-custom {
  margin-left: 10px;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .heading h3 {
    font-size: 17px;
  }

  .heading h3 .badge-custom {
    vertical-align: middle;
    margin-top: 0;
  }
}

.heading a {
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .heading a {
    position: absolute;
    right: 0;
    top: 7px;
  }
}

.heading p {
  margin-top: -10px;
  margin-bottom: 0;
  color: #9a9a9c;
  font-weight: bold;
  display: block;
}

@media (max-width: 480px) {
  .heading p {
    text-align: left;
  }
}

.form-block {
  margin: 50px 0;
  height: 100%;
  background-color: white;
  box-shadow: 0 6px 4px -4px #dddddd;
}

@media (min-width: 1500px) {
  .form-block {
    width: 700px;
    margin: 50px auto;
  }
}

@media (max-width: 600px) {
  .form-block {
    margin-top: 20px;
  }
}

.form-block .legend {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  background: #767c89;
  color: white;
}

.form-block .legend h4 {
  margin: 0;
}

.form-block .legend span {
  font-weight: bold;
}

.form-block .legend span a {
  color: #57bcdb;
  margin-left: 10px;
  font-weight: bold;
}

@media (max-width: 480px) {
  .form-block .legend {
    padding: 5px 20px;
  }
}

.form-wrap {
  padding: 20px 20px 10px;
}

.form-inner {
  background: #ecedef;
  padding: 30px 20px;
}

.sequre-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.sequre-block .lock {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 200px;
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
}

.sequre-block .lock img {
  margin-right: 10px;
}

.sequre-block .lock p {
  margin-top: 6px;
}

.form-style input,
.form-style select {
  -o-border-radius: 0;
  border-radius: 0;
}

.form-style label {
  font-weight: normal;
  font-size: 14px;
}

@media (max-width: 600px) {
  .form-style label.sr-only {
    position: relative;
  }
}

.error-block {
  padding: 20px;
  -o-border-radius: 0;
  border-radius: 0;
}

.error-block p {
  margin: 0;
}

.public-body .error-block {
  margin-top: 20px;
  margin-bottom: 0;
}

.form-control.success {
  border: 1px solid #89bb1c;
  box-shadow: inset 0 0 14px -4px #89bb1c;
}

.form-control.error {
  border: 1px solid #f22613;
  box-shadow: inset 0 0 14px -4px #f22613;
}

.iradio_minimal-blue,
.icheckbox_minimal-blue {
  margin-right: 5px;
}

.messages-list .messages-item {
  margin-left: 27px;
  margin-bottom: 10px;
}

.messages-list .messages-item.by-me {
  margin-right: 27px;
}

.messages-list .messages-item.by-me .chat-block {
  float: right;
  background: #d6f3cb;
  position: relative;
  padding: 15px 10px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  max-width: 88%;
}

.messages-list .messages-item.by-me .chat-block p {
  margin: 0;
}

.messages-list .messages-item.by-me .chat-block:before {
  content: "";
  position: absolute;
  border-top: 27px solid transparent;
  border-right: 26px solid transparent;
  height: 0;
  width: 0;
  bottom: 0;
}

.messages-list .messages-item.by-me .chat-block:after {
  content: "";
  position: absolute;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  height: 0;
  width: 0;
  bottom: 0;
}

.messages-list .messages-item.by-me .chat-block:before,
.messages-list .messages-item.by-me .chat-block:after {
  right: -26px;
}

.messages-list .messages-item.by-me .chat-block:before {
  border-left: 26px solid #d6f3cb;
  border-right: none;
}

.messages-list .messages-item.by-me .chat-block:after {
  border-left: 26px solid white;
  border-right: none;
}

.messages-list .messages-item.by-other .chat-block {
  background: #dbf0fb;
  position: relative;
  padding: 15px 10px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  max-width: 88%;
}

.messages-list .messages-item.by-other .chat-block p {
  margin: 0;
}

.messages-list .messages-item.by-other .chat-block:before {
  content: "";
  position: absolute;
  border-top: 27px solid transparent;
  border-right: 26px solid transparent;
  height: 0;
  width: 0;
  bottom: 0;
}

.messages-list .messages-item.by-other .chat-block:after {
  content: "";
  position: absolute;
  border-top: 13px solid transparent;
  border-right: 26px solid white;
  height: 0;
  width: 0;
  bottom: 0;
}

.messages-list .messages-item.by-other .chat-block:before {
  left: -26px;
}

.messages-list .messages-item.by-other .chat-block:after {
  left: -26px;
}

.messages-list .messages-item.by-other .chat-block:before {
  border-right: 26px solid #dbf0fb;
}

.messages-list .messages-item.by-other.new .chat-block {
  background: #addcf7;
}

.messages-list .messages-item.by-other.new .chat-block:before {
  border-right: 26px solid #addcf7;
}

.messages-list .messages-item .author {
  color: #9a9a9c;
  margin-bottom: 5px;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-box;
  display: box;
  display: flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-box-orient: vertical;
  -ms-flex-direction: column;
  box-orient: vertical;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 940px) {
  body {
    overflow-x: hidden;
  }
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-box-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  flex: 1;
}

.public-main {
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-box-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
  box-flex: 1 0 auto;
  flex: 1 0 auto;
}

.select2-container {
  width: 100%;
}

.select2-container .select2-choice {
  -o-border-radius: 0;
  border-radius: 0;
  height: 34px;
  padding-top: 3px;
  padding-left: 12px;
  color: #c1c3c9;
  font-size: 14px;
  background-color: white;
  background-image: none;
}

.select2-container .select2-choice .select2-arrow {
  background: none;
  border: none;
  width: 23px;
  top: 3px;
}

.select2-allowclear .select2-chosen {
  color: #666666;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #aaaaaa;
}

.select2-dropdown-open .select2-choice {
  background: white;
}

.select2-results {
  margin: 0;
  padding: 0;
  border-top: 1px solid #aaaaaa;
}

.select2-results li {
  color: #666666;
  height: 40px;
  font-size: 14px;
  padding-top: 8px;
  padding-left: 12px;
  border-top: 1px solid transparent;
}

.select2-results li .select2-result-label {
  padding: 0;
}

.select2-results li + li {
  border-top: 1px solid #ececec;
}

.select2-results .select2-highlighted {
  background: #ececec;
  color: #666666;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

html,
body,
.wrapper,
.layout-main {
  min-height: 100%;
}

.flexbox,
.flexbox body {
  height: 100%;
}

body {
  font-size: 13px;
  color: black;
  background-color: #f4f4f4;
}

body.active main {
  position: fixed;
}

body.active .aside {
  display: block !important;
  position: relative;
}

body .menu-button {
  margin-bottom: 45px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  body .menu-button {
    margin-bottom: 10px;
  }
}

@media (max-width: 320px) {
  body .menu-button {
    margin-bottom: 0;
  }
}

body .menu-button .lang-switch .dropdown-menu {
  min-width: 73px;
}

main.layout-main {
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 260px;
  max-width: 100%;
}

@media (max-width: 767px){
  main.layout-main{
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  main.layout-main {
    padding: 0 30px 0 270px;
  }
}

main.layout-main .menu-toggle {
  font-size: 20px;
  margin-right: 15px;
  padding: 2px 11px;
}

main.layout-main .menu-toggle .icon {
  margin-top: 7px;
}

.public-header {
  background-color: #1c2838;
  min-height: 55px;
  height: 55px;
  padding: 17px 30px;
}

.public-header .lang-switch {
  margin-top: -7px;
}

.public-header .lang-switch .dropdown-menu {
  min-width: 73px;
}

.public-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #1c2838;
  min-height: 55px;
  height: 55px;
  padding: 0 30px;
}
.public-footer ul {
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1;
  flex: 1 0 auto;
  margin-bottom: 0;
}

@media (max-width: 767px){
  .public-footer{
    padding: 0 20px;
  }
  .public-footer ul {
    -webkit-box-flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1;
    flex: 1 0 100%;
  }
  .public-footer ul li + li {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .public-footer ul li + li {
    margin-left: 15px;
  }
}
.public-footer a {
  color: white;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.wrapper .aside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #1c2838;
  background: -webkit-linear-gradient(top, #26323e -1%, #2a3342 36%, #212934 61%, #1c2630 79%, #0e1822 100%, #28323c 100%);
  background: linear-gradient(to bottom, #26323e -1%, #2a3342 36%, #212934 61%, #1c2630 79%, #0e1822 100%, #28323c 100%);
  width: 240px;
  min-height: 100vh;
  color: white;
  padding: 15px 20px 0;
  position: fixed;
}

.wrapper .aside .menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.wrapper .aside .menu .logo {
  margin-bottom: 35px;
}

.wrapper .aside .menu .wellcome {
  font-family: "Georgia";
  display: block;
  margin-bottom: 5px;
}

.wrapper .aside .menu .left-menu {
  margin: 40px -20px 0;
}

.wrapper .aside .menu .left-menu > li {
  width: 100%;
  position: relative;
}

.wrapper .aside .menu .left-menu > li .badge-custom {
  min-width: 55px;
}

.wrapper .aside .menu .left-menu > li ul {
  display: none;
}

.wrapper .aside .menu .left-menu > li.active > a {
  background: #89bb1c;
}

.wrapper .aside .menu .left-menu > li.active > a:focus {
  text-decoration: none;
}

.wrapper .aside .menu .left-menu > li.active .badge-custom {
  background-color: #313a48;
}

.wrapper .aside .menu .left-menu > li.active:after {
  content: "";
  position: absolute;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #f4f4f4;
  height: 0;
  width: 0;
  top: 11px;
  right: 0;
}

.wrapper .aside .menu .left-menu > li.active ul {
  display: block;
}

.wrapper .aside .menu .left-menu > li > a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #313a48;
  background: -webkit-linear-gradient(left, #323b4a 0%, #303948 0%, #323b4a 4%, #323b4a 4%, #303948 5%, #303948 20%, #2f3b49 30%, #303e4b 41%, #2d3f4b 51%, #2c424d 63%, #2d4350 75%, #2b4954 100%);
  background: linear-gradient(to right, #323b4a 0%, #303948 0%, #323b4a 4%, #323b4a 4%, #303948 5%, #303948 20%, #2f3b49 30%, #303e4b 41%, #2d3f4b 51%, #2c424d 63%, #2d4350 75%, #2b4954 100%);
  padding: 0 10px 0 20px;
  text-transform: uppercase;
  color: white;
  height: 35px;
}

.wrapper .aside .menu .left-menu > li > a:hover {
  text-decoration: none;
}

.wrapper .aside .menu .left-menu > li > a:hover p {
  text-decoration: underline;
}

.wrapper .aside .menu .left-menu > li > a .icon {
  margin-right: 10px;
  font-size: 20px;
  height: 20px;
}

.wrapper .aside .menu .left-menu > li > a p {
  margin: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  letter-spacing: -0.04em;
}

.wrapper .aside .menu .left-menu > li ul li {
  margin-top: 5px;
}

.wrapper .aside .menu .left-menu > li ul li a {
  display: block;
  color: white;
  margin-left: 50px;
}

.wrapper .aside .menu .left-menu > li ul li.active a {
  color: #89bb1c;
}

.wrapper .aside .menu .left-menu > li + li {
  margin-top: 2px;
}

.wrapper .aside .footer {
  margin-top: 30px;
}

.wrapper .aside .footer a {
  color: white;
}

.wrapper .aside .footer .footer-rights {
  background-color: #0a1219;
  margin: 0px -20px;
  padding: 15px 20px;
}

.dashboard-page .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashboard-page .wrap .my-tasks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-page .wrap .my-tasks .white-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dashboard-page .wrap .messages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-page .wrap .messages p {
  margin-bottom: 0;
}

.dashboard-page .wrap .messages .white-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.dashboard-page .wrap .messages .white-block .messages-list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.dashboard-page .wrap .messages .white-block .messages-list .messages-wrap {
  max-height: 300px;
  overflow: auto;
}

.dashboard-page .wrap .messages .white-block form button {
  padding-top: 7px;
}

.dashboard-page .wrap .white-block {
  margin-bottom: 30px;
}

.messages-page {
/*  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;*/
  min-height: -webkit-calc(100vh - 91px);
  min-height: calc(100vh - 91px);
}

.messages-page .white-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.messages-page .white-block .messages-list {
  -webkit-box-flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.messages-page .white-block .messages-list .messages-wrap {
  height: 300px;
  height: -webkit-calc(100vh - 480px);
  height: calc(100vh - 480px);
  overflow: auto;
}

@media (max-height: 568px) {
  .messages-page .white-block .messages-list .messages-wrap {
    height: -webkit-calc(100vh - 325px);
    height: calc(100vh - 325px);
  }
}

@media (max-height: 479px) {
  .messages-page .white-block .messages-list .messages-wrap {
    height: 200px;
  }
}

@media (max-height: 568px) {
  .messages-page .white-block textarea {
    height: 33px;
  }
}

.tasks-detailed-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: -webkit-calc(100vh - 91px);
  min-height: calc(100vh - 91px);
}

.tasks-detailed-page dl.payment {
  margin-top: 10px;
  margin-left: 5px;
  color: #666666;
}

.tasks-detailed-page dl.payment dt {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  text-transform: uppercase;
  margin-top: 9px;
}

.tasks-detailed-page dl.payment dd {
  display: inline-block;
  margin-left: 0;
}

.tasks-detailed-page .white-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.tasks-detailed-page .white-block .task-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 480px) {
  .tasks-detailed-page .white-block .task-wrap .accept-block button {
    display: block;
    margin-bottom: 5px;
  }
}

.tasks-detailed-page .white-block .task-wrap .accept-block a {
  color: #666666;
  margin-left: 10px;
}

.tasks-detailed-page .white-block .task-wrap .accept-block a span.icon {
  margin-right: 5px;
  vertical-align: middle;
  font-size: 20px;
}

.tasks-detailed-page .white-block .task-wrap .task-content {
  background: #fbf8f1;
  padding: 30px 20px;
  margin-top: 10px;
  border-top: 1px dashed #7cbcaf;
}

.tasks-detailed-page .white-block .task-wrap .task-content dl dd ul {
  margin-left: 20px;
}

.tasks-detailed-page .white-block .task-wrap .task-content dl dd ul li:before {
  font-family: "icons-custom";
  content: "i";
  vertical-align: middle;
  color: #9a9a9c;
}

@media (min-height: 768px) {
  .tasks-detailed-page .white-block .task-wrap .task-content dl {
    margin-left: 40px;
  }
}

.faq-page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.faq-page .white-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.faq-page .white-block .faq-list {
  border-right: 1px solid #ecedef;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 601px) {
  .faq-page .white-block .faq-list {
    min-height: -webkit-calc(100vh - 233px);
    min-height: calc(100vh - 233px);
  }
}

.faq-page .white-block .faq-list .faq-categories h5 {
  background-color: #ecedef;
  margin-top: 0;
  padding: 10px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #9a9a9c;
}

.faq-page .white-block .faq-list .faq-categories ul li {
  position: relative;
  padding-left: 15px;
}

.faq-page .white-block .faq-list .faq-categories ul li.active a {
  color: #89bb1c;
}

.faq-page .white-block .faq-list .faq-categories ul li:before {
  font-family: "icons-custom";
  content: "i";
  font-weight: bold;
  vertical-align: middle;
  color: #9a9a9c;
  position: absolute;
  left: 0;
  top: 1px;
}

.faq-page .white-block .faq-list .faq-categories ul li + li {
  margin-top: 10px;
}

.faq-page .white-block .faq-content h2 {
  margin-top: 0;
}

.login-page .form-block,
.psw-recovery-page .form-block {
  max-width: 450px;
  margin: 50px auto;
}

@media (min-width: 1500px) {
  .login-page .form-block,
  .psw-recovery-page .form-block {
    max-width: 550px;
  }
}

@media (min-width: 320px) {
  .login-page .form-block .legend,
  .psw-recovery-page .form-block .legend {
    padding: 10px 20px;
  }
  .psw-recovery-page .form-block .legend span{
    text-align: left !important;
  }
  .psw-recovery-page .form-block .legend a{
    margin-left: 5px;
  }
}

.login-page .form-block .checkbox,
.psw-recovery-page .form-block .checkbox {
  padding-left: 0;
}

.register-page .form-inner {
  margin-bottom: 25px;
}

.register-page .form-inner hr {
  border-bottom: 1px solid #f4f4f4;
}

.register-page .form-inner h6 {
  margin-left: -20px;
  color: #9a9a9c;
}

.register-page .legal-info h5 {
  margin-left: 20px;
}

.register-page .legal-info .info-inner {
  margin: 0 20px;
  padding: 15px 10px;
  border: 1px solid #c1c3c9;
}

.register-page .legal-info .checkbox {
  padding-left: 35px;
}

.register-page .legal-info .checkbox label {
  color: black;
}

.profile-page form .radio {
  margin-top: 24px;
}

.profile-page form .error-alert {
  color: #f22613;
  margin-top: 32px;
}

.profile-page form .radio-inline {
  margin-top: 24px;
}

.bank-details-page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.bank-details-page .white-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.bank-details-page .white-block .form-inner {
  padding-bottom: 10px;
}

.bank-details-page .error-block {
  margin-bottom: 20px;
  margin-top: 0;
}

.psw-change-page,
.family-work-page,
.equipment-page,
.deactivate-page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.psw-change-page .white-block,
.family-work-page .white-block,
.equipment-page .white-block,
.deactivate-page .white-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}