@charset "UTF-8";

@font-face {
  font-family: "icons-custom";
  src: url("../fonts/icons-custom.eot");
  src: url("../fonts/icons-custom.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons-custom.woff") format("woff"),
    url("../fonts/icons-custom.ttf") format("truetype"),
    url("../fonts/icons-custom.svg#icons-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
}

.icon:hover,
.icon:focus {
  text-decoration: none;
}

[data-icon] {
  font-family: "icons-custom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons-custom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "a";
}

.icon-list:before {
  content: "c";
}

.icon-pin:before {
  content: "d";
}

.icon-mail:before {
  content: "e";
}

.icon-user:before {
  content: "f";
}

.icon-info:before {
  content: "b";
}

.icon-export-pdf:before {
  content: "g";
}

.icon-right-open:before {
  content: "i";
}

.icon-menu:before {
  content: "h";
}